##exclude virtual environment 
.vscode/
__pycache__/
*.py[cod]
*$py.class

.Python
.coverage
.coverage.*
.cache

.pytest_cache/

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
